node_modules
dist
out
.DS_Store
.eslintcache
*.log*

nul

.claude/settings.local.json

electronbg.code-workspace

desktop.ini

pkg/shared/tsconfig.tsbuildinfo

**/*.mjs
!**/eslint.config.mjs

temp/

.idea/
