{
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "none",
	"printWidth": 120,
	"endOfLine": "lf",
	"singleAttributePerLine": false,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"svelteSortOrder": "options-scripts-markup-styles",
				"svelteStrictMode": false,
				"svelteIndentScriptAndStyle": true
			}
		}
	]
}
